* {
  /* border: 1px solid red; */
}
.Card-Header {
  position: relative;
  font-weight: bold;
  background: rgb(50, 50, 50);
  padding: 2%;
  color: white;
  line-height: 18px;
  height: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.Project-Logo {
  width: 60px;
  height: auto;
  margin-top: 5%;
  border-radius: 8px;
  display: block;
  max-height: 100px;
}
.Card-Body {
  position: relative;
  color: white;
  background: rgba(49, 49, 49, 0);
  height: 220px; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Card-Container {
  overflow: hidden;
  width: 16%;
  min-width: 225px;
  display: flexbox;
  margin: .5vw;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  -webkit-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  background-color: rgb(50, 50, 50);
  border: 2px solid #4577bd;
  border-radius: 8px;
  padding: 8px;
   box-shadow: 0px 6px 12px rgba(238, 238, 238, 0.774);
}
@media (max-width: 700px) {
  .Card-Container {
    width: 100%;
  }
  .Card-Real-Link {
    width: 100%;
  }
}

.Card-Container:hover {
  box-shadow: rgba(0, 0, 0, 0.053) 0px 3px 10px, rgba(0, 0, 0, 0.066) 0px 3px 10px;
}
.Card-Real-Link:hover {
  text-decoration: none;
  color: black;
}
.Card-Real-Link:visited {
  text-decoration: none;
  color: black;
}
.Card-Real-Link:link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin: 0 auto;
}
.Card-Real-Link:active {
  text-decoration: none;
  color: black;
}
.Card-Description {
  position: relative;
  padding: 5%;
  max-height: 120px;
  overflow: hidden;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow-y: auto;
   overflow-x: auto;
  text-overflow: ellipsis;
}
.Card-Description::-webkit-scrollbar {
  width: 6px; 
}

.Card-Description::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

.Card-Description::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.Card-Description::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.Card-Link {
  position: relative;
  padding: 15px;
  color: #f2f4ff;
  background: transparent;
  transition: .5s;
  margin-top: auto;
  border-top: rgb(255, 249, 249) 1px solid;
  border: 2px solid #6a86f8; 
  border-radius: 8px;
}
.Card-Link:hover {
  color: whitesmoke;
  background: #3b82f6;
  border-radius: 8px;
}
.Card-Title {
  margin-top: 6%;
  height: 10%;
  font-size: 20px;
}
.Card-Link-Style {
  margin-left: 10%;
}

.Card-Tag{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.Card-Tag div {
  display: inline-block;
  background-color: #0f3cef33;
  padding: .3rem .65rem;
  border-radius: 8px;
  border: 1px solid #42404047;
  vertical-align: middle;
}

.Card-Tag p {
  margin: 3px 0;
  font-size: 13px;
  text-transform: capitalize;
}
