#container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

#search {
  padding-left: 10px;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #DCDCDC;
  background-color: transparent;
  color: white;
  font-family: monospace;
}

#search:hover,
#search:focus {
  cursor: pointer;
}

.inputContainer {
  width: 47%;
  margin-top: 40px;
}

@media screen and (max-width: 500px) {
  .inputContainer {
    width: 45%;
    margin-top: 40px;
  }
}