.topnav {
    background-color:#007EE5;
    overflow: hidden;
    text-align: right;
}
@media (max-width: 700px) {
    .topnav {
        text-align: center;
    }
}

.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #558fbe;
    color: #f2f2f2;
    border-radius: 25px;
    border: #72B1E4;
    block-size: auto;
    display: inline;
}

.topnav a.active {
    background-color: #ffffff;
    color: white;
}

.logo{
    margin-top: 10px;
    width: 70px;
    vertical-align:middle;
    height: 50px;
    display: inline-block;
}
