.topnav {
    background-color:#007EE5;
    overflow: hidden;
    text-align: right;
}
@media (max-width: 700px) {
    .topnav {
        text-align: center;
    }
}

.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 25px;
    border: #ddd;
    block-size: auto;
    display: inline;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.logo{
    margin-top: 10px;
    width: 70px;
    vertical-align:middle;
    height: 50px;
    display: inline-block;
}