.topnav {
    background-color:#007EE5;
    overflow: hidden;
    text-align: right;
    padding: 10px;
}
@media (max-width: 700px) {
    .topnav {
        text-align: center;
    }
}

.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;

}

.slack:hover {
    color: #e20b64;
}

.twitter:hover {
    color: #059ff5;
}

.github:hover {
    color: #24292d;
}

.topnav a.active {
    color: white;
}
