.topnav {
    background-color: #1f293726;
    overflow: hidden;
    text-align: right;
    backdrop-filter: blur(16px);
    border: 1px solid #f9fafb1a;
    padding: 1.1rem;
    display: flex;
    justify-content:flex-end;
    gap: 16px;
}
@media (max-width: 700px) {
    .topnav {
        text-align: center;
        overflow: auto;
        justify-content: flex-start;
    }
}

.topnav a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
    border: 1px solid transparent;
    /* font-size: 20px; */
}

.topnav a:hover {
    background-color: #2c2e2fb3;
    color: #f2f2f2;
    border-radius: 12px;
    border:1px solid #b6b6b94a;
    /* display: inline; */
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.logo{
    margin-top: 10px;
    width: 52px;
    vertical-align:middle;
    height: 42px;
    display: inline-block;
}
