#social-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background: #0a0a0a;
}

#social-share > h2 {
  display: block;
  color: rgb(255, 255, 255);
  margin-right: .25em;
}

#social-shares-container {
  display: flex;
  max-width: 100%;
}

.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  margin: .7em;
  border-radius: 4px;
  background: #4b4949;
  border: solid white 1px;
}

.icon-card:hover{
  opacity: 0.3;
}

@media (max-width: 700px) {
  .icon-card {
    border: none;
  }
}

