.Card-Header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.7rem;
	font-weight: bold;
	background: white;
	padding: 2%;
	line-height: 18px;
}

.card-img {
	width: 6rem;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Project-Logo {
	width: 100%;
	object-fit: cover;
	height: auto;
	margin-top: 5%;
}

.Card-Body {
	position: relative;
	background: white;
}

.Card-Container {
	display: flex;
	box-shadow: rgb(0 0 0 / 2%) 0px 12px 16px;
	background-color: #fff;
	transition: all 0.3s;
	width: 20rem;
	padding: 1rem 0;
	flex: 1 0 15rem;
}

.Card-Container:hover {
	transform: translateY(-2px);
}

@media (max-width: 700px) {
	.Card-Container {
		width: 100%;
	}
	.Card-Real-Link {
		width: 100%;
	}
}

.Card-Container:hover {
	box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.Card-Real-Link:hover {
	text-decoration: none;
	color: black;
}
.Card-Real-Link:visited {
	text-decoration: none;
	color: black;
}

.Card-Real-Link:link {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: black;
	padding: 0 1rem;
	margin: 0 auto;
}
.Card-Real-Link:active {
	text-decoration: none;
	color: black;
}
.Card-Description {
	position: relative;
	padding: 5%;
}
.Card-Link {
	position: relative;
	padding: 15px;
	background: transparent;
	transition: all 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
	margin-top: auto;
	font-weight: 600;
	border-top: rgba(0, 0, 0, 0.12) 1px solid;
}

.Card-Link i {
	transition: all 200ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.Card-Link:hover i {
	transform: translateX(10px);
}

.Card-Title {
	margin-top: 6%;
	height: 10%;
}
.Card-Link-Style {
	margin-left: 10%;
}

.Card-Tag {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.Card-Tag div {
	display: inline-block;
	background-color: #fafafa;
	border: 0.01px solid #2929292d;
	padding: 1px 15px;
	border-radius: 25px;
	vertical-align: middle;
}

.Card-Tag p {
	margin: 3px 0;
	font-size: 12px;
	font-weight: 500;
	color: #292929a4;
	text-transform: capitalize;
}
