 display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

#search {
  padding-left: 10px;
.inputContainer {
  width: 47%;
  margin-top: 40px;
  position: relative;
}

.inputContainer input,
.inputContainer .Select { 
  padding-left: 30px;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  height: 34px;
  font-size: 15px;
  text-align: center;
  border: 1px solid #DCDCDC;
}

#search:hover,#search:focus {
  border: 1px #0f3cef solid ;
#search:hover,
#search:focus {
  border: 1px #0f3cef solid;
}

.inputContainer {
   width: 47%;
   margin-top: 40px;
/* Style for the search icon inside the search-container */
.search-container .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

/* Style for the filter icon in the filter input */
#tag-selector-container .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

/* Responsive adjustments */
@media screen and (max-width: 500px) {
  #container {
      flex-direction: column; /* Stack items vertically */
      align-items: flex-start; /* Align items to the left */
  }

  .inputContainer {
    width: 45%;
    margin-top: 40px;
      width: 100%; /* Full width for smaller screens */
      margin-top: 10px; /* Reduce margin for better spacing */
  }
}
}
