#container {
  background: #f7f7fc;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#search {
  padding-left: 10px;
  border: none;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  font-size: 15px;
  text-align: center;
  border: 1px solid #DCDCDC;
}

.inputContainer {
   width: 47%;
   margin-top: 40px;
}

@media screen and (max-width: 500px) {
  .inputContainer {
    width: 45%;
    margin-top: 40px;
  }
}