.LinkButton {
  padding: 16px 20px;
  text-decoration: none;
  margin: 20px auto;
  overflow: hidden;
  border-width: 0;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  color: #fff;
  margin-bottom: 0 !important;
  font-size: large;
}

.LinkButton:hover {
  background-color: white;
  color: black;
}

.LinkButton>span {
  font-size: 1.1em;
  letter-spacing: 0.05em;
}

.LinkButton-Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.Scroll-Down {
  cursor: pointer;
  position: relative;
  animation: swing alternate 0.5s infinite;
}

.Scroll-Down:active {
  opacity: 0.75;
}

.Scroll-Down-Wrapper {
  padding: 1vw;
  padding-bottom: 1.75vw;
}

@keyframes swing {
  from {
    top: -0.5rem;
  }

  to {
    top: 1rem;
  }
}