.App {
	background-color: #fafafa;
	text-align: center;
	display: flex;
	gap: 2rem;
	padding: 50px;
}

.App-header {
	padding: 20px;
	color: #292929;
}

.App-header > h1 {
	padding-top: 10%;
	font-size: 2.5em;
}
