.App {
  /* height: 500px; */
  background-color: #007EE5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: middle;
  flex-direction: column;
}

.App-header {
  padding: 20px;
  color: #f6f6f6;
}

.App-header > h1 {
  padding-top: 10%;
}

.heading1 {
  font-size: 2em;
  font-weight: 500;

}

.heading2 {
  font-size: 1.5em;
  font-weight: lighter;
}
