.App {
  /* height: 500px; */
  background-color: #0a0a0a;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-header {
  padding: 20px;
  color: blue;
}

.App-header > h1 {
  /* padding-top: 6%; */
  font-size: 7.1rem;
  letter-spacing: -0.05em;
  font-weight: 700;
}

.App-header > h1 span{
  background: linear-gradient(to right, #60a5fa, #1d4ed8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 700px) {
  .App-header > h1 {
    font-size: 3.1rem;
    letter-spacing: -0.05em;
    font-weight: 700;
  }

}